<%  @movies.each  do  |movie| %>
  <%=  link_to   movie_path(movie)  do  %>
    <%= image_tag  movie.image.url(:thumb)  %>
  <%  end  %>
  
  <p><%=  link_to  movie.title, movie_path(movie) %></p>
  <br/>
  <%=  link_to("buy", "#", class: "btn  btn-primary") %><br />
<% end %>
