<h1>新增电影</h1>
<%=  simple_form_for  [:admin, @movie]  do  |f|  %>
  <%=  render  :partial  =>  "form",  :locals  =>  { :f  =>  f} %>
  
  <div class="form-group">
    <%=  f.submit  "Submit",  class: "btn  btn-primary" %>
    <%=  link_to("Cancel", admin_movies_path) %>
  </div>

<%  end  %>
